.banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: none;
    z-index: 999;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .banner {
        display: flex;
    }
}
