.character {
    border-radius: 5px;
    overflow: hidden;
    &-container {
        padding: 0.4rem;
        background: #000;
    }
    &-title {
        font-size: 1.2rem;
        color: #fff;
    }
    &-profile {
        height: 250px;
        position: relative;
        &-info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 5px 7px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }
    &-details {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 10px;
        &-info {
            display: flex;
            border-bottom: 1px solid rgba(173, 181, 189, 0.1);
            font-size: 0.65rem;
            &--no-bottom {
                border-bottom: 0;
            }
        }
        &-label {
            color: #adb5bd;
        }
        &-value {
            flex: 1 1 0;
            text-align: right;
            color: #fd7e14;
        }
    }
}
