.loader {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
